In [1]:
a=int(input("Enter Decimal Number:"))
if(a==0):
    print(0)

else:
    print("Quotient Remaider Binary")
    b=""
    while(a>0):
        remainder=a % 2
        a=a // 2
        b=str(remainder)+b
        print("%5d%8d%12s" % (a,remainder,b))
print('Binary Number :',b)

Enter Decimal Number: 10

Quotient Remaider Binary
    5       0           0
    2       1          10
    1       0         010
    0       1        1010
Binary Number : 1010

In [3]:
a=int(input("Enter Decimal Number:"))
if(a==0):
    print(0)

else:
    print("Quotient Remaider Binary")
    b=""
    while(a>0):
        remainder=a % 2
        a=a // 2
        b=str(remainder)+b
        print("%5d%8d%12s" % (a,remainder,b))
print('Binary Number :',b)

Enter Decimal Number: 103

Quotient Remaider Binary
   51       1           1
   25       1          11
   12       1         111
    6       0        0111
    3       0       00111
    1       1      100111
    0       1     1100111
Binary Number : 1100111

In [7]:
a="balaji is a good boy"
print(a.capitalize())
b="Balaji Is A Good Boy"
print(b.casefold())

Balaji is a good boy
balaji is a good boy

In [9]:
a="Balaji"
b="balaji"
if a.casefold()==b.casefold():
    print('a is correct')
else:
    print('b is correct')

a is correct

In [14]:
#center
a='Engineering'
print(a.center(28))
print(a.center(150))
print(a.center(50,'a'))
print(a.center(20,'b'))

        Engineering
                                                                     Engineering
aaaaaaaaaaaaaaaaaaaEngineeringaaaaaaaaaaaaaaaaaaaa
bbbbEngineeringbbbbb

In [15]:
#count
a='I am good Boy and I am innocent and is am i Wrong ?'
print(a.count('good'))
print(a.count('am'))
print(a.count('?'))

1
3
1

In [ ]:
# 5. encode() - Returns an encoded version of the string
""" The encode() method encodes the string, using the specified encoding.
If no encoding is specified, UTF-8 will be used.
Syntax : string.encode(encoding=encoding, errors=errors)
1. encoding - Optional. A string specifying the encoding to use.
Default is UTF-8.
2. errors - Optional. A string specifying the error method.
Legal values are :
 i) 'backslashreplace' - Uses a backslash instead of the character that
could not be encoded.
 ii) 'ignore' - Ignores the characters that cannot be encoded.
 iii) 'namereplace' - Replaces the character with a text explaining the
character.
 iv) 'strict' - Default, raises an error on failure.
 v) 'replace' - Replaces the character with a questionmark.
 vi) 'xmlcharrefreplace' - Replaces the character with an xml character. """

In [16]:
a='My Name is Vennelakanti Sai Balaji'
print(a.encode(encoding='ascii',errors='backlashreplace'))
print(a.encode(encoding='ascii',errors='ignore'))
print(a.encode(encoding='ascii',errors='namereplace'))
print(a.encode(encoding='ascii',errors='strict'))
print(a.encode(encoding='ascii',errors='replace'))
print(a.encode(encoding='ascii',errors='xmlcharrefreplace'))

b'My Name is Vennelakanti Sai Balaji'
b'My Name is Vennelakanti Sai Balaji'
b'My Name is Vennelakanti Sai Balaji'
b'My Name is Vennelakanti Sai Balaji'
b'My Name is Vennelakanti Sai Balaji'
b'My Name is Vennelakanti Sai Balaji'

In [ ]:
# 6. endswith() - Returns True if the string ends with the specified value,
# Otherwise False
""" Syntax : string.endswith(value, start, end)
 1. value - Required. The value to check if the string ends with.
 2. start - Optional. An integer specifying at which position to start
the search.
 3. end - Optional. An integer specifying at which position to end the search.
"""

In [17]:
a='balaji'
print(a.endswith('ji'))
print(a.endswith('b'))

True
False

In [ ]:
expandtabs() - Sets the tab size to the number of specified number of
# whitespaces.
""" string.exandtabs(tabsize)
tabsize - Optional. A number specifying the tabsize.
Default tabsize is 8.

In [19]:
a='b\ta\tl\ta\tj\ti'
print(a.expandtabs())
print(a.expandtabs(2))
print(a.expandtabs(10))
print(a.expandtabs(15))

b       a       l       a       j       i
b a l a j i
b         a         l         a         j         i
b              a              l              a              j              i

In [ ]:
# 8. find() - Searches the string  for a specified value and returns the
# position of where it was found.
""" The find() method finds the first occurrence of the specified value.
The find() method returns -1 if the value is not found.
The find() method is almost the same as the index() method, the only
difference is that the index() method raises an exception if the value
is not found.
Syntax : string.find(value, start, end)
1. value - Required. The value to search for.
2. start - Optional. Where to start the search. Default is 0.
3. end - Optional. Where to end the search. Default is the end of the string.

In [28]:
a='sai balaji'
print(a.find('a'))
print(a.find('a',0,8))
print(a.find('a',3,8))
print(a.find('a',6,8))

1
1
5
7

In [ ]:
 9. index() - Searches the string for a specified value and returns the
# position of where it was found.
""" The index() method finds the first occurrence of the specified value.
The index() method raises an exception if the value is not found.
The index() method is almost the same as the find() method, the only difference
is that the find() method returns -1 if the value is not found.
Syntax : string.index(value, start, end)
1. value - Required. The value to search for.
2. start - Optional. Where to start the search. Default is 0.
3. end - Optional. Where to end the search. Default is to the end of the
string. """

In [29]:
a='sai balaji'
print(a.index('a'))
print(a.index('a',6,8))

1
7

In [ ]:
 isalnum() - Returns True if all characters in the string are
# alphanumeric (combination of both alphabets & numbers).
""" The isalnum() method returns True if all the characters are alphanumeric,
meaning alphabet letter (a-z) and numbers (0-9).
Example of characters that are not alphanumeric:(space)!#%&? etc.,
Syntax : string.isalnum() """

In [40]:
a='balaji950'
print(a.isalnum())
b='balaji 950'
print(b.isalnum())
c='balaji@950'
print(c.isalnum())

True
False
False

In [ ]:
11. isalpha() - Returns True if all characters in the string are in the
# alphabet.
""" The isalpha() method returns True if all the characters are alphabet
letters(a-z).
Example of characters that are not alphabet letters:(space)!#%&? etc.,
Syntax : string.alpha() """

In [41]:
a='balaji'
print(a.isalpha())
b='balaji 950'
print(b.isalpha())

True
False

In [ ]:
# 12. isdecimal() - Returns True if all characters in the string are decimals
""" The isdecimal() method returns True if all the characters are decimals(0-9)
This method is used on unicode objects.
Syntax : string.isdecimal() """

In [44]:
a='10'
print(a.isdecimal())

True

In [45]:
word_decimal = "\u0033"
print(word_decimal.isdecimal())

True

In [ ]:
# 13. isdigit() - Returns True if all characters in the string are digits
""" The isdigit() method returns True if all the characters are digits,
Otherwise False.
Exponents like ² are also considered to be a digit.
Syntax : string.isdigit() """

In [47]:
zero_unicode = "\u0030"             
square_unicode = "\u00B2"           
print(zero_unicode.isdigit())       
print(square_unicode.isdigit())

True
True

In [49]:
a='10'
print(a.isdigit())
b='sai'
print(b.isdigit())

True
False

In [ ]:
14. isidentifier() - Returns True if the string is an identifier
""" A string is considered a valid identifier if it only contains alphanumeric
letters (a-z) and (0-9) or underscores (_).
A valid identifier cannot start with a number, or contain any spaces.
Syntax : string.isidentifier() """

In [51]:
a='balaji123'
b='123balaji'
c='sai_balaji'
d=' saibalaji'
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
False
True
False

In [ ]:
# 15. islower() - Returns True if all characters in the string are lower case
""" The islower() method returns True if all the characters are in lower case
Otherwise False.
Numbers, Symbols and Spaces are not checked, only alphabet characters.
Syntax : string.islower() """

In [53]:
a='balaji'
print(a.islower())
b='Balaji'
print(b.islower())

True
False

In [ ]:
# 16. isnumeric() - Returns True if all the characters in the string
# are numeric, Otherwise False.
""" The isnumeric() method returns True if all the characters are numeric
(0-9), Otherwise False.
Exponents, like ² and ¾ are also considered to be numeric values.
Syntax : string.numeric() """

In [54]:
x = "\u0030"        # Unicode for 0
y = "\u00B2"        # Unicode for ²
z = "10km2"
print(x.isnumeric())                    # True
print(y.isnumeric())                    # True
print(z.isnumeric())                    # False

True
True
False

In [57]:
a='16'
b='81'
d='8z'
print(a.isnumeric())
print(b.isnumeric())
print(d.isnumeric())

True
True
False

In [ ]:
# 17. isprintable()- Returns True if all characters in the string are printable
""" The isprintable() method returns True if all the characters are printable,
Otherwise False.
Example of non-printable character can be carriage return and line feed.
Syntax : string.isprintable() """

In [60]:
a='balaji!'
b='b\na\t'
print(a.isprintable())
print(b.isprintable())

True
False

In [ ]:
8. isspace() - Returns True if all characters in the string are whitespaces
""" The isspace() method returns True if all the characters in a string are
whitespaces, Otherwise False.
Syntax : string.isspace() """

In [79]:
a='sai balaji'
print(a.isspace())

False

In [78]:
a = " "
print(a.isspace())

True

In [81]:
a=' '
print(a.isspace())

True

In [ ]:
# 19. istitle() - Returns True if the string follows the rules of a title
""" The istitle() method returns True if all words in the string start with a
upper case letter, and the rest of the word are lower case letters,
Otherwise False.
Symbols and numbers are ignored.
Syntax : string.istitle() """

In [85]:
a='Balaji'
print(a.istitle())
b='balaji'
print(b.istitle())

True
False

In [ ]:
# 20. isupper() - Returns True if all characters in the string are uppercase
""" The isupper() method returns True if all the characters are in upper case,
Othewise False.
Numbers, Symbols & Spaces are not checked, only alphabet characters.
Syntax : string.isupper() """

In [87]:
a='BALAJI'
print(a.isupper())
a='balaji'
print(a.isupper())

True
False

In [89]:
a='SAI_BALAJI'
print(a.isupper())

True

In [ ]:
# 21. join() - Joins the elements of an iterable to the end of the string
""" The join() method takes all items in an iterable and joins them into
one string.
A string must be specified as the separator.
Syntax : string.join(iterable)
iterable - Required. Any iterable object where all the returned values
 are strings."""

In [92]:
a=('balaji','sai','vennelakanti')
print(','.join(a))

balaji,sai,vennelakanti

In [ ]:
# 22. ljust() - Returns a left justified version of the string
""" The ljust() method will left align the string, using a specified
character (space is default) as the fill character.
Syntax : string.ljust(length, character)
1. length - Required. The length of the returned string.
2. Optional - A character to fill the missing space (to the right of the
string). Default is ' ' (space). """

In [95]:
a='mahesh babu'
print(a.ljust(25),"is Super Star Forever")

mahesh babu               is Super Star Forever

In [ ]:
# 23. lower() - Converts a string into lower case
""" The lower() method returns a string where all characters are lowercase.
Symbols and Numbers are ignored.
Syntax : string.lower() """

In [96]:
a='BALAJI'
print(a.lower())

balaji

In [ ]:
# 24. replace() - Returns a string where a specified value is replaced with a
# specified value.
""" The replace() method replaces a specified phrase with another specified
phrase.
Note : All occurrences of the specified phrase will be replaced, if nothing
else is specified.
Syntax : string.replace(oldValue, newValue, count)
1. oldValue - Required. The string to search for.
2. newValue - Required. The string to replace the old value with.
3. count - Optional. A number specifying how many occurrences of the old value
you want to replace. Default is all occurrences. """

In [98]:
a='Mahesh Babu is Super Star'
print(a.replace('Super','Global Super'))

Mahesh Babu is Global Super Star

In [1]:
a='A is Suffered with sadism'
print(a.replace('sadism', 'Cancer'))

A is Suffered with Cancer

In [ ]:
25. split() - Splits the string at the specified separator, and
# returns a list.
""" The split() method splits a string into a list.
You can specify the separator, default separator is any whitespace.
Note : When maxsplit is specified, the list will contain the specified number
of elements plus one.
Syntax : string.split(separator, maxsplit)
1. separator - Optional. Specifies the separator to use when splitting the
string. By default any whitespace is a separator.
2. maxsplit - Optional. Specifies how many splits to do. Default value is -1,
which is 'all occurrences'. """

In [2]:
a='A is a cancer patient'
print(a.split())

['A', 'is', 'a', 'cancer', 'patient']

In [ ]:
# 26. startswith() - Returns True if the string starts with the specified value
""" The startswith() method returns True if the string starts with the
specified value, Otherwise False.
Syntax : string.startswith(value, start, end)
1. value - Required. The value to check if the string starts with.
2. start - Optional. An integer specifying at which position to start
 the search.
3. end - Optional. An integer specifying at which position to end the search.

In [105]:
a='welcome to my world'
print(a.startswith('welcome'))
print(a.startswith('wel',0,1))

True
False

In [ ]:
# 27. strip() - Returns a trimmed version of the string
""" The strip() method removes any leading (spaces at the beginning) and
trailing (spaces at the end) characters (space is the default leading
character to remove).
Syntax : string.strip(characters)
characters - Optional. A set of characters to remove as leading/trailing
characters."""

In [107]:
a='Mahesh Babu  '
print(a.strip(),"is Global Super Star")
b='     banana    '
print('all of',b.strip(),'is my favourite')

Mahesh Babu is Global Super Star
all of banana is my favourite

In [ ]:
# 28. swapcase() - Swaps cases, lowercases becomes upper case and vice versa
""" The swapcase() method returns a string where all the upper case letters are
lower case and vice versa.
Syntax : string.swapcase() """

In [109]:
a="Welcome to my World"
print(a.swapcase())
b='balaji'
print(b.swapcase())

wELCOME TO MY wORLD
BALAJI

In [ ]:
# 29. title() - Converts the first character of each word to upper case
""" The title() method returns a string where the first character in every
word is uppercase. Like a header, or title.
If the word contains a number or a symbol, the first letter after that will be
converted to upper case.

In [110]:
a="sai balaji is bad human"
print(a.title())

Sai Balaji Is Bad Human

# 30. upper() - Converts a string into upper case
""" The upper() method returns a string where all characters are in upper case.
Symbols and Numbers are ignored.
Syntax : string.upper() """

In [111]:
a='balaji'
print(a.upper())

BALAJI

In [ ]:
# 31. rfind() - Searches the string for a specified value and returns the last
# position of where it was found.
""" The rfind() method finds the last occurrence of the specified value.
The rfind() method returns -1 if the value is not found.
The rfind() method is almost the same as the rindex() method.
Syntax : string.rfind(value, start, end)
1. value - Required. The value to search for.
2. start - Optional. Where to start the search. Default is 0.
3. end - Optional. Where to end the search. Default is to the end of the
 string. """

In [113]:
a="Welcome To My World"
print(a.rfind('To'))
print(a.rfind('o',2,16))
print(a.rfind('o',2,5))
print(a.rfind('o',2,11))

8
15
4
9

In [ ]:
# 32. rindex() - Searches the string for a specified value and returns the last
# position of where it was found.
""" The rindex() method finds the last occurrences of the specified value.
The rindex() method raises an exception if the value is not found.
The rindex() method is almost the same as the rfind() method.
Syntax : string.rindex(value, start, end)
1. value - Required. The value to search for.
2. start - Optional. Where to start the search. Default is 0.
3. end - Optional. Where to end the search. Default is to the end of the string
"""

In [114]:
a="Welcome To My World"
print(a.rindex('To'))
print(a.rindex('o',2,16))
print(a.rindex('o',2,5))
print(a.rindex('o',2,11))

8
15
4
9

In [ ]:
# 33. rjust() - Returns a right justified version of the string
""" The rjust() method will right align the string, using a specified character
(space is default) as the fill character.
Syntax : string.rjust(length, character)
1. length - Required. The length of the returned string.
2. character - Optional. A character to fill the missing space (to the left of
the string). Default is ' ' (space). """

In [119]:
a='Mahesh Babu  '
print(a.rjust(5),'is my die-hard fan')
print(a.rjust(25),'is my die-hard fan')
print(a.rjust(85),'is my die-hard fan')

Mahesh Babu   is my die-hard fan
            Mahesh Babu   is my die-hard fan
                                                                        Mahesh Babu   is my die-hard fan

In [ ]:
# 34. rsplit() - Splits the string at the specified separator, and
# returns a list
""" The rsplit() method splits a string into a list, starting from the right.
If no 'max' is specified, this method will return the same as the
split() method.
Note : When maxsplit is specified, the list will contain the specified number
of elements plus one.
Syntax : string.rsplit(separator, maxsplit)
1. separator - Optional. Specifies the separator to use when splitting the
 string. By default any whitespace is a separator.
2. maxsplit - Optional. Specifies how many splits to do. Default value is -1,
 which is 'all occurrences'. """

In [3]:
a='A is cancer patient'
print(a.rsplit())

['A', 'is', 'cancer', 'patient']

In [ ]:
# 35. rstrip() - Returns a right trim version of the string
""" The rstrip() method removes any trailing characters (characters at the end
of a string), space is the default trailing character to remove.
Syntax : string.rstrip(characters)
characters - Optional. A set of characters to remove as trailing characters."""

In [121]:
a='   banana   '
print('of all',a.rstrip(),'is my favourite')

of all    banana is my favourite

In [ ]:
# 36. splitlines() - Splits the string at line breaks and returns a list
""" The splitlines() method splits a string into a list. The splitting is done
at line breaks.
Syntax : string.splilines(keeplinebreaks) """

In [122]:
a='sai\nbalaji'
print(a.splitlines(True))

['sai\n', 'balaji']

In [ ]:
# 37. translate() - Returns a translated string
""" The translate() method returns a string where some specified characters are
replaced with the character described in a dictionary, or in a mapping table.
Use the maketrans() method to create a mapping table.
If a character is not specified in the dictionary/table, the character will not
be replaced.
If you use a dictionary, you must use ascii codes instead of characters.
Syntax : string.translate(table)
table - Required. Either a dictionary, or a mapping table describing how to
 perform the replace. """

In [129]:
a='Hello food'
b=a.maketrans('f','g')
print(a.translate(b))

Hello good

In [ ]:
# 38. zfill() - Fills the string with a specified number of 0 values
# at the beginning
""" The zfill() method adds zero(s) at the beginning of the string, untill
it reaches the specified length.
If the value of the len parameter is less than the length of the string, no
filling is done.
Syntax : string.zfill(len)
len - Required. A number specifying the position of the element you want
to remove. """

In [132]:
a='20'
print(a.zfill(10))
print(a.zfill(30))

0000000020
000000000000000000000000000020