In [ ]:
Python Sqlite3

In [ ]:
SQLite is an in-process library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. 
It is a database, which is zero-configured, which means like other databases you do not need to configure it in your system.

SQLite engine is not a standalone process like other databases, you can link it statically or dynamically as per your requirement with your application. 
SQLite accesses its storage files directly.

In [1]:
import sqlite3

In [2]:
import sqlite3
connection=sqlite3.connect('Python.db')
print("Opened Database Successfully");

Opened Database Successfully

In [ ]:
Create a Table

In [3]:
import sqlite3
connection=sqlite3.connect('Python.db')
print("Opened Database Successfully");
connection.execute("CREATE TABLE Employee(NAME TEXT NOT NULL, ID INT PRIMARY KEY NOT NULL, AGE INT NOT NULL, ADDRESS CHAR(50), SALARY REAL);")
connection.execute('CREATE TABLE Department(Dept_Id int(20) PRIMARY KEY NOT NULL,DEPT_Name VARCHAR(20) NOT NULL)')
print("Tables Created Successfully");
connection.close()

Opened Database Successfully
Tables Created Successfully

In [ ]:
Insert Records
Insert some records in "Employees" table.

In [4]:
import sqlite3
connection=sqlite3.connect('Python.db')
print("opened Database Successfully");
connection.execute("INSERT INTO Employee(NAME,ID,AGE,ADDRESS,SALARY)VALUES('mi',199,22,'rjy',15000)")
connection.execute("INSERT INTO Employee(NAME,ID,AGE,ADDRESS,SALARY)VALUES('Sai Balaji',200,23,'rjy',15000)")
connection.execute("INSERT INTO Employee(NAME,ID,AGE,ADDRESS,SALARY)VALUES('chathanya',201,22,'hyd',14000)")
connection.execute("INSERT INTO Employee(NAME,ID,AGE,ADDRESS,SALARY)VALUES('upendra',202,23,'ban',13000)")
connection.execute('INSERT INTO Department(Dept_Id,Dept_Name)VALUES(199,"CSE")')
connection.execute('INSERT INTO Department(Dept_Id,Dept_Name)VALUES(200,"CSE")')
connection.execute('INSERT INTO Department(Dept_Id,Dept_Name)VALUES(201,"ECE")')
connection.commit()
print("Table Inserted Successfully")
connection.close()

opened Database Successfully
Table Inserted Successfully

In [ ]:
Select Records
Now you can fetch and display your records from the table "Employees" by using SELECT statement.

In [5]:
import sqlite3
connection=sqlite3.connect('Python.db')
print('opened Database Successfully')
result = connection.execute('SELECT * FROM Employee')
for row in result:
    print("NAME= ",row[0])
    print("ID= ",row[1])
    print("AGE= ",row[2])
    print("ADDRESS= ",row[3])
    print("SALARY= ",row[4]),"\n"
connection.close()

opened Database Successfully
NAME=  mi
ID=  199
AGE=  22
ADDRESS=  rjy
SALARY=  15000.0
NAME=  Sai Balaji
ID=  200
AGE=  23
ADDRESS=  rjy
SALARY=  15000.0
NAME=  chathanya
ID=  201
AGE=  22
ADDRESS=  hyd
SALARY=  14000.0
NAME=  upendra
ID=  202
AGE=  23
ADDRESS=  ban
SALARY=  13000.0

In [6]:
import sqlite3
connection=sqlite3.connect('Python.db')
print('opened Database Successfully')
result = connection.execute('SELECT * FROM Department')
for row in result:
    print("Dept_Id= ",row[0])
    print("Depe_Name= ",row[1]),"\n"
connection.close()

opened Database Successfully
Dept_Id=  199
Depe_Name=  CSE
Dept_Id=  200
Depe_Name=  CSE
Dept_Id=  201
Depe_Name=  ECE

In [7]:
import sqlite3
connection=sqlite3.connect('Python.db')
cursor=connection.cursor()
print('opened Database Successfully')
result = cursor.execute('SELECT * FROM Employee')
for row in cursor.fetchall():
    print(row)
connection.close()

opened Database Successfully
('mi', 199, 22, 'rjy', 15000.0)
('Sai Balaji', 200, 23, 'rjy', 15000.0)
('chathanya', 201, 22, 'hyd', 14000.0)
('upendra', 202, 23, 'ban', 13000.0)

In [8]:
import sqlite3
connection=sqlite3.connect('Pythondb')
cursor=connection.cursor()
cursor.execute('SELECT * FROM Department')
for row in cursor.fetchall():
    print(row)
connection.close()

(199, 'CSE')
(200, 'CSE')
(201, 'ECE')

In [ ]:
Update Operation

In [9]:
import sqlite3
connection=sqlite3.connect('Python.db')
cursor=connection.cursor()
print('opened Database Successfully')
cursor.execute("UPDATE Employee set NAME='Chaithanya' where id=201")
connection.commit()
result=cursor.execute('SELECT * FROM Employee')
for row in cursor.fetchall():
    print(row)
connection.close()

opened Database Successfully
('mi', 199, 22, 'rjy', 15000.0)
('Sai Balaji', 200, 23, 'rjy', 15000.0)
('Chaithanya', 201, 22, 'hyd', 14000.0)
('upendra', 202, 23, 'ban', 13000.0)

In [ ]:
Delete Operation

In [10]:
import sqlite3
connection=sqlite3.connect('Python.db')
cursor=connection.cursor()
print('opened Database Successfully')
cursor.execute('DELETE FROM Employee where id=202')
connection.commit()
result=cursor.execute("SELECT * FROM Employee")
for row in cursor.fetchall():
    print(row)
connection.close()

opened Database Successfully
('mi', 199, 22, 'rjy', 15000.0)
('Sai Balaji', 200, 23, 'rjy', 15000.0)
('Chaithanya', 201, 22, 'hyd', 14000.0)

In [ ]:
Join Operation

In [13]:
import sqlite3
connection=sqlite3.connect("Python.db")
cursor=connection.cursor()
try:
    cursor.execute('SELECT Employee.NAME,Employee.AGE,Employee.ADDRESS,Employee.SALARY,Department.Dept_Id,Department.Dept_Name FROM Department left join Employee on Department.Dept_Id=Employee.ID')
    connection.commit()
    result=cursor.fetchall()
    for row in result:
        print(row)
except Exception as e:
    print("Error:", e)
    connection.rollback()
connection.close()

('mi', 22, 'rjy', 15000.0, 199, 'CSE')
('Sai Balaji', 23, 'rjy', 15000.0, 200, 'CSE')
('Chaithanya', 22, 'hyd', 14000.0, 201, 'ECE')