In [ ]:
# Accessing List Data - The list items are accessed by referring to the
# index number.
""" Negative indexing means beginning from the end, -1 refers to the
last element, -2 refers to the second last item etc.,
A range of indexes can be specified by specifying where to start and where
to end the range. When specifying a range, the return value will be a new
list with the specified items.
Note : The search will start at index 2 (included) and end at index 5 (not
included).
By leaving out the start value, the range will start at the first item.
By leaving out the end value, the range will go on to the end of the list. """

In [7]:
a=['vennelakanti','sai','balaji']
print(a[0])
print(a[0:1])
print(a[0:2])
print(a[-3:-1])
print(a[0:])
print(a[-3:])

vennelakanti
['vennelakanti']
['vennelakanti', 'sai']
['vennelakanti', 'sai']
['vennelakanti', 'sai', 'balaji']
['vennelakanti', 'sai', 'balaji']

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[:])
print(a[:4])
print(a[:-1])
print(a[0:])
print(a[:-9])
print(a[-7:-3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1]
[4, 5, 6, 7]

In [4]:
a=['balaji','sai','vennelakanti',123]
if(123 in a):
    print("yes 123 is in a")
if(143 in a):
    print("True")

yes 123 is in a

In [5]:
a=['vennelakanti','balaji','sai']
a[1]='sai'
a[2]='balaji'
print(a)

['vennelakanti', 'sai', 'balaji']

In [6]:
a=['vennelakanti','sai','balaji']
a[1]=['veera venkata satya narayana naga','sai']
print(a)

['vennelakanti', ['veera venkata satya narayana naga', 'sai'], 'balaji']

In [13]:
a=['vennelakanti','sai','balaji']
a[0:1]=['vennelakanti','veera','venkata','satya','narayana','naga']
print(a)

['vennelakanti', 'veera', 'venkata', 'satya', 'narayana', 'naga', 'sai', 'balaji']

In [ ]:
LIST METHODS
# 1. append() - Adds an element at the end of the list
""" The append() method appends an element at the end of the list.
Syntax : list.append(element)
element - Required. An element of any type (string, number, object etc.,) """
# Example-1 : Add an element to the fruits list.

In [21]:
a=['vennelakanti','sai']
a.append('balaji')
print(a)

['vennelakanti', 'sai', 'balaji']

In [23]:
a=['vennelakanti','sai']
b='balaji'
a.append(b)
print(a)

['vennelakanti', 'sai', 'balaji']

In [ ]:
# 2. clear() - Removes all the elements from the list
""" The clear() method removes all the elements from a list.
Syntax : list.clear() """

In [24]:
a=['sai','balaji']
a.clear()
print(a)

[]

In [ ]:
# 3. copy() - Returns a copy of the list
""" The copy() method returns a copy of the specified list.
Syntax : list.copy() """

In [25]:
a=['vennelakanti','sai','balaji']
b=a.copy()
print(b)

['vennelakanti', 'sai', 'balaji']

In [ ]:
# 4. count() - Returns the number of elements with the specified value
""" The count() method returns the number of elements with the specified value.
Syntax : list.count(value)
value - Required. Any type (string, number, list, tuple, etc.,). The value to
search for. """

In [26]:
a=['vennelakanti','sai','balaji',1,2,3,4,5,5,5,5,5,5,5,6,]
print(a.count('balaji'))
print(a.count(5))
print(a.count('sai'))

1
7
1

In [ ]:
# 5. extend() - Adds the elements of a list (or any iterable), to the end of
# the current list.
""" The extend() method adds the specified list elements (or any iterable) to
the end of the current list.
Syntax : list.extend(iterable)
iterable - Required. Any iterable (list, set, tuple, etc.,) """

In [29]:
a=['veenelakanti','veera','venakta','satya','narayana']
b=['naga','sai','balaji']
a.extend(b)
print(a)
c=(1,2,3,4,5)
a.extend(c)
print(a)

['veenelakanti', 'veera', 'venakta', 'satya', 'narayana', 'naga', 'sai', 'balaji']
['veenelakanti', 'veera', 'venakta', 'satya', 'narayana', 'naga', 'sai', 'balaji', 1, 2, 3, 4, 5]

In [ ]:
# 6. index() - Returns the index of the first element with the specified value
""" The index() method returns the position at the first occurrence of the
specified value.
Note : The index() method only returns the first occurrence of the value.
Syntax : list.index(element)
element - Required. Any type (string, number, list, etc.,). The element to
search for. """

In [34]:
a=['vennelakanti','sai','balaji',1,2,3,4,5]
print(a.index('vennelakanti'))
print(a.index(5))

0
7

In [ ]:
# 7. insert() - Adds an element at the specified position
""" The insert() method is to insert a new list item, without replacing any of
the existing values, we can use the insert() method.
The insert() method inserts an item at the specified index.
Syntax : list.insert(position, element)
1. position - Required. A number specifying in which position to insert
the value.
2. element - Required. An element of any type (string, number, object etc.,)
"""

In [38]:
a=['vennelakanti','balaji']
a.insert(1,'sai')
print(a)

['vennelakanti', 'sai', 'balaji']

In [ ]:
# 8. pop() - Removes the element at the specified position
""" The pop() method removes the element at the specified position.
Note : The pop() method returns removed value.
Syntax : list.pop(position)
position - Optional. A number specifying the position of the element you want
to remove, default value is -1, which returns the last item. """

In [39]:
a=['vennelakanti','sai','satya','balaji']
a.pop(2)
print(a)

['vennelakanti', 'sai', 'balaji']

In [40]:
#Return the removed element
a=['vennelakanti','sai','satya','balaji']
b=a.pop(2)
print(b)

satya

In [ ]:
# 9. remove() - Removes the first item with the specified value
""" The remove() method removes the first occurrence of the element with the
specified value.
Syntax : list.remove(element)
element - Required. Any type (string, number, list, etc.,).
The element you want to remove. """

In [41]:
a=['vennelakanti','sai','satya','balaji']
a.remove('satya')
print(a)

['vennelakanti', 'sai', 'balaji']

In [ ]:
# 10. reverse() - Reverses the order of list.
""" The reverse() method reverses the sorting order of the elements.
Syntax : list.reverse() """

In [42]:
a=['balaji','sai','vennelakanti']
a.reverse()
print(a)

['vennelakanti', 'sai', 'balaji']

In [ ]:
# 11. sort() - Sorts the list
""" The sort() method sorts List Alphanumerically. List Objects have a sort()
method that will sort the list alphanumerically, ascending, by default.
To sort descending, use the keyword arguement reverse = True.
Syntax : list.sort() - for ascending.
list.sort(reverse = True) - for descending. """

In [47]:
a=[10,9,8,7,6,5,4,3,2,1,0]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [46]:
a=['vennelakanti','sai','balaji']
a.sort()
print(a)

['balaji', 'sai', 'vennelakanti']

In [48]:
a=['chiranjeevi','balakrishna','chaithanya','mahesh babu']
a.sort(reverse=True)
print(a)

['mahesh babu', 'chiranjeevi', 'chaithanya', 'balakrishna']

In [ ]:
""" Customize Sort Function : We can also customize  you own function by using
the keyword arguement key = function.
The function will return a number that will be used to sort the list (the
lowest number first).
"""
""" Note : By default the sort() method is case sensitive, resulting in all
capital letters being sorted after lower case letter. """
""" Case Insensitive Sort : We can use built-in functions as key functions
when sorting a list. So if you want a case-insensitive sort function, use
str.lower as a key function. """

In [55]:
def a(num):
    return abs(num-20)
    
b=[100,75,50,63,87]
b.sort(key=a)
print(b)

[50, 63, 75, 87, 100]

In [57]:
#""" Note : By default the sort() method is case sensitive, resulting in all capital letters being sorted after lower case letter. """
a=['Vennelakanti','Sai','balaji','Good']
a.sort()
print(a)

['Good', 'Sai', 'Vennelakanti', 'balaji']

In [59]:
#""" Case Insensitive Sort : We can use built-in functions as key functions when sorting a list. So if you want a case-insensitive sort function, use
#str.lower as a key function. """
a=['Vennelakanti','Sai','balaji','Good']
a.sort(key=str.lower)
print(a)

['balaji', 'Good', 'Sai', 'Vennelakanti']