Data Types- int, Float, Complex, Boolean, String, List, Tuple, Dictionary and set

In [1]:
a=50
print(type(a))

<class 'int'>

In [2]:
a=50.0
print(type(a))

<class 'float'>

In [3]:
a=9+50j
print(type(a))

<class 'complex'>

In [4]:
a='balaji'
print(type(a))

<class 'str'>

In [6]:
a=True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

binary datatype is used to represent bytes,bytearray and memory view

In [9]:
b=bytes([1,2,3])
print(b[0])
print(type(b))#byte

1
<class 'bytes'>

In [10]:
ba=bytearray([1,2,3])
print(ba)
ba[0]=4
print(ba)
print(type(ba))

bytearray(b'\x01\x02\x03')
bytearray(b'\x04\x02\x03')
<class 'bytearray'>

In [11]:
a=memoryview(bytes([2,4,6]))
print(a)
print(type(a))

<memory at 0x00000183E12A5C40>
<class 'memoryview'>

Lists are group of heterogeneous objects in sequence and it is mutable which is allowed to change and it is represented by [].

In [12]:
a=[10,20,'balaji',2+1j,True]
print(a)
print(type(a))

[10, 20, 'balaji', (2+1j), True]
<class 'list'>

tuples are also group of heterogeneous objects in sequence and it is immutable which is not allows to change and it is represented by ().

In [13]:
a=(10,20,'balaji',2+1j,True,False)
print(a)
print(type(a))

(10, 20, 'balaji', (2+1j), True, False)
<class 'tuple'>

Sets are group of heterogeneous objects in unoreder and it is mutable and it is represented by {}.

In [14]:
a={10,20,'balaji',2+1j,True,False}
print(a)
print(type(a))

{False, True, (2+1j), 'balaji', 10, 20}
<class 'set'>

In [15]:
a={'January','February','March','April','May','June','July','August','September','October','November','December'}
print(a)
print(type(a))

{'February', 'August', 'January', 'May', 'September', 'October', 'April', 'June', 'December', 'November', 'March', 'July'}
<class 'set'>

Dictionaries are stored in Data in key-value formats and it is mutable and it is represented by {}.

In [21]:
a={'Name':'Vennelakanti Sai Balaji','Age':'21', 'Course':'Btech', 'Experience':'Fresher'}
print(a)
print(type(a))

{'Name': 'Vennelakanti Sai Balaji', 'Age': '21', 'Course': 'Btech', 'Experience': 'Fresher'}
<class 'dict'>

STRINGS

In [24]:
a,b,c='balaji',"Balaji",'''balaji'''
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

balaji Balaji balaji
<class 'str'>
<class 'str'>
<class 'str'>

In [30]:
a=10
str1=str(a)
b=10.5
str2=str(b)
c=20+10j
str3=str(c)
d=True
str4=str(d)
e='balaji'
str5=str(e)
print(str1,type(str1))
print(str2,type(str2))
print(str3,type(str3))
print(str4,type(str4))
print(str5,type(str5))

10 <class 'str'>
10.5 <class 'str'>
(20+10j) <class 'str'>
True <class 'str'>
balaji <class 'str'>

In [33]:
a='balaji'
print(a[-3])
print(a[0:5])#indexing

a
balaj

In [34]:
a="     My Name is sai balaji        "
print(a.strip())

My Name is sai balaji

In [36]:
a='sai balaji'
print(a.upper())
b='SAI BALAJI'
print(b.lower())
print(a.startswith('balaji'))
print(a.startswith('sai'))
print(a.endswith('ji'))

SAI BALAJI
sai balaji
False
True
True

In [37]:
print(len('sai balaji'))
print('balaji'.find('bal'))
print(','.join(['s','a','i']))
print('balaji'.replace('aji','u'))
print('bal' in 'balaji')

10
0
s,a,i
balu
True

Lists

In [47]:
a=[1,2,3,4,5]
print(a[0:4])
print(a[0:])
print(a[0:1])
print(a[-1])
b=['vennelakanti','sai','balaji']
print(b[0:])
print(b[0:1])
print(b[-1])
print(b[-2])

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1]
5
['vennelakanti', 'sai', 'balaji']
['vennelakanti']
balaji
sai

In [49]:
a=[1,2,3,4]
a.append(5)
print(a)
a.insert(1,99)
print(a)

[1, 2, 3, 4, 5]
[1, 99, 2, 3, 4, 5]

In [53]:
a=[1,2,3,4]+[5]
print(a)#concatenation of list

[1, 2, 3, 4, 5]

In [55]:
a=[1,2,3,4,5,6]
a.remove(3)
print(a)
a.reverse()
print(a)

[1, 2, 4, 5, 6]
[6, 5, 4, 2, 1]

In [59]:
a=[1,2,3,4,5]
a.sort()
print(a)
print(a.index(2))
print(a.index(2,1))

[1, 2, 3, 4, 5]
1
1

In [62]:
a=[1,2,3,4,5]
print(a.append(6))
print(a)
print(a.pop())
print(a.pop())
print(a.pop())
print(a.pop())
print(a)

None
[1, 2, 3, 4, 5, 6]
6
5
4
3
[1, 2]

Tuple

In [79]:
a=(10,20,'balaji',2+3j,True)
print(a,type(a))
A=(10)
print(A,type(A))
B=(10,)
print(B,type(B))
b=(10,2,3,4,5,10,10,10,10,10)
print(b.count(10))
print(b.count(5))

(10, 20, 'balaji', (2+3j), True) <class 'tuple'>
10 <class 'int'>
(10,) <class 'tuple'>
6
1

In [91]:
a=(1,2,3,4,5,4)
print(a.index(4,4))

5

In [96]:
a=(1,2,3,4)
x,y,z,b=a
print('unpacking :', end='')
print(x,y,z,b,sep='')

unpacking :1234

Sets

In [101]:
a={1,2,'balaji', True,False}
print(a,type(a))

{False, 1, 2, 'balaji'} <class 'set'>

In [108]:
a=set()
print(a)
print(type(a))

set()
<class 'set'>

In [109]:
a={1.0,'balaji',(1,2,3)}
print(a)

{1.0, (1, 2, 3), 'balaji'}

In [110]:
a={1,1,12,3,4,4,5.5,6}
print(a)#it does not allow repeat values

{1, 3, 4, 5.5, 6, 12}

In [111]:
a={1,2,3}
a.add(50)
print(a)

{1, 2, 3, 50}

In [112]:
a={1,2,3}
a.update([50,100])
print(a)

{1, 2, 3, 100, 50}

In [119]:
a={1,2,3,4,5,6,7,8}
a.discard(6)
print(a)
a.remove(1)
print(a)
a.pop()
print(a)
print(a.pop())
print(a)
a.clear()
print(a)

{1, 2, 3, 4, 5, 7, 8}
{2, 3, 4, 5, 7, 8}
{3, 4, 5, 7, 8}
3
{4, 5, 7, 8}
set()

In [121]:
#UNION OPERATOR USING WITH '|' SYMBOL
a={'Monday','Tuesday','Wednesday','Thursday'}
b={'Monday','Friday','Sataurday','Sunday'}
print(a|b)
#intersection opertaor using with '&' symbol
print(a&b)

{'Monday', 'Sataurday', 'Wednesday', 'Tuesday', 'Sunday', 'Friday', 'Thursday'}
{'Monday'}

In [124]:
#difference operator is used with '-' symbol
a={2,4,6,8,10}
b={2,4,5,7,9}
print(a-b)
#Symmetric difference is used with '^' symbol
print(a^b)

{8, 10, 6}
{5, 6, 7, 8, 9, 10}

In [125]:
#FrozenSet - It is a new class that has the characteristics of a set,But it's elements cannot be changed once assigned.
#While Tuples are immutable Lists, frozensets are immutable sets.They can be created using the function frozenset()
a=frozenset([1,2,3,4,5])
print(a,type(a))

frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

DICTIONARIES

In [136]:
a={}
a['Vennelakanti']=1234567890
a['sai']=9874563210
a['balaji']=9876543210
a[1]='mahesh babu'
a[2]='sl'
print(a)
a.pop(2)
print(a,type(a))

{'Vennelakanti': 1234567890, 'sai': 9874563210, 'balaji': 9876543210, 1: 'mahesh babu', 2: 'sl'}
{'Vennelakanti': 1234567890, 'sai': 9874563210, 'balaji': 9876543210, 1: 'mahesh babu'} <class 'dict'>

In [138]:
a={'Name':'Sai Balaji','Age':21,'Experience':'Fresher'}
print(a)
print(a.keys())
print(a.values())
del a['Age']
print(a)
print(len(a))
a.clear()
print(a)

{'Name': 'Sai Balaji', 'Age': 21, 'Experience': 'Fresher'}
dict_keys(['Name', 'Age', 'Experience'])
dict_values(['Sai Balaji', 21, 'Fresher'])
{'Name': 'Sai Balaji', 'Experience': 'Fresher'}
2
{}

In [144]:
a={'Vennelakanti': 1234567890, 'sai': 9874563210, 'balaji': 9876543210, 1: 'mahesh babu', 2: 'sl'}
b=a.copy()
print(b)
print(a.get('sai'))
print(a.update({1:'SB'}))
print(a)

{'Vennelakanti': 1234567890, 'sai': 9874563210, 'balaji': 9876543210, 1: 'mahesh babu', 2: 'sl'}
9874563210
None
{'Vennelakanti': 1234567890, 'sai': 9874563210, 'balaji': 9876543210, 1: 'SB', 2: 'sl'}