In [ ]:
OPERATORS

In [2]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)
print(2%2)
print(2**3)
print(5//2)
print(5/2)

4
0
4
1.0
0
8
2
2.5

In [3]:
print((6+4)**2*3/1+2-1)

301.0

In [6]:
age=21
a=input("are you 25 years old young man?")
a=str(a)
print('No Iam ',25-age,'old')

are you 25 years old young man? no

No Iam  4 old

In [7]:
a=input("Enter First Number :")
b=input("Enter Second Number :")
print(int(a)%int(b))
print('if number is divisible by(0) then ',a ,'is divisible by',b)

Enter First Number : 60
Enter Second Number : 10

0
if number is divisible by(0) then  60 is divisible by 10

In [9]:
#Arthimetic operators
a,b=20,10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)
print(2**3)

30
10
200
2.0
2
0
10240000000000
8

In [13]:
#Relational Operators
a,b=20,10
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [20]:
#Logical Operators
a,b=True,False
print(a and b)
print(a or b)
print(not a is a)
print(not a is not a)

False
True
False
True

In [23]:
#Assignment Operators
a=50
a+=10
print(a)
a-=10
print(a)
a*=10
print(a)
a/=10
print(a)
a//=2
print(a)
a%=2
print(a)

60
50
500
50.0
25.0
1.0

In [25]:
#Identity Operators
a,b=3,2
print(id(a))
print(id(b))
print(a is b)
print(a is not b)

140729331209952
140729331209920
False
True

In [26]:
a=3
b=2
x=a
y=b
z=a
print(x is b)
print(x is a)
print(x is not a)
print(z is x)

False
True
False
True

In [34]:
#Membership Operators
str1='balaji12'
str2='balu34'
str3='balaji'
str4='Super balu'
print(str3 in str1)
print(str4 in str2)
print(str4 in str1)
print(str2 is str4)

True
False
False
False

In [35]:
#Bitwise Operators
print(2&7)
print(2|7)
print(~2)
print(3>>2)
print(3<<2)

2
7
-3
0
12